<p align="center">Here you can create new Articles</p>
<div align="center">
	<%= render 'form' %>
	<%= link_to 'Back', articles_path %>
</div>
<style type="text/css">
	#article_title , #article_text {
		width: 400px
	}
	#article_text{
		min-height: 200px
	}
</style>